@import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic');

* {
	margin: 0;
	padding: 0;
	font: 16px;
	font: 100%;
	font-family: Lato;
}

html, body {
	min-height: 100%;
	height: 100%;
	text-align: center;
}

#page {
	height: 100%;
	width: 100%;
	max-width: 1300px;
	box-shadow: 0 0 10px #E0E0E0;
	display: inline-block;
	text-align: left;
}


#left {
	float: left;
	width: 300px;
	height: 100%;
	background-color: #E0E0E0;
	color: #525252;
}

#right {
	height: 100%;
	margin-left: 280px;
	position: relative;
	background-color: black;
}

/* ------------------------------------------------------ */
/* left menu */
/* ------------------------------------------------------ */

#left h1 {
	padding: 10px 20px;
	border-bottom: 1px solid #888;
	cursor: pointer;
	font-size: 24px;
}

#left ol, #left ul {
	border-bottom: 1px solid #888;
}
#left ol {
	background-color: #5FB7F5;
	display: none;
}

#left ol li, #left ul li {
	list-style: none;
	font-size: 20px;
	padding: 5px 20px;
	border-bottom: 1px solid #888;
	cursor: pointer;
}
#left ol li:last-child, #left ul li:last-child {
	border-bottom: 0;
}
#left ol li {
	border-bottom: 1px solid #01939A;
}

#left ol li:hover {
	background-color: #318BCC;
}
#left ul li:hover {
	background-color: #D1D1D1;
}

#left ul li.active {
	text-decoration: underline;
}

#left ol li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
}

/* ------------------------------------------------------ */
/* general right css */
/* ------------------------------------------------------ */
#right .subwindow {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: white;
}

#right .subwindow h1 {
	padding: 10px 20px;
	border-bottom: 1px solid black;
	font-size: 24px;
}
#right .subwindow .content {
	padding: 5px 20px;
}
#data-params {
	position: absolute;	
}

#correlations-data-table {	
    border-collapse: collapse;	
}

#correlations-data-table * {
	border: 1px solid black;
	padding: 2px;
	cursor: pointer;
}

#correlations-data-table tr :hover {
	background: #aaaaaa;
}

#correlatins-chart {
	position: absolute;
	right: 10px;
}

.xActive {
	background: #ff0000;
}

.yActive {
	background: #0000ff;
}

/* ------------------------------------------------------ */
/* predictions */
/* ------------------------------------------------------ */
#input-fields > * {
	float: left;
}

#input-fields > label + input {
	clear: left;
}


/* ------------------------------------------------------ */
/* clusters */
/* ------------------------------------------------------ */
.scplot {
    width: 100%;
    height: 600px;
}


